<form action="/search" method="get" class="search_form form" autocomplete="off">
  <div class="shell">
    <input type="hidden" name="type" value="product">
    <input name="q" type="search" placeholder="Search" class="value">
    <button class="caret">&nbsp;</button>
  </div>
</form>
