<div id="product_size_chart" class="block">

  <div class="product_size_chart_inner" class="block">

    <span class="icon btn close"><img src="{{ 'icon_close.svg' | asset_url }}" alt="Close Size Chart"></span>

    <h1 class="title">Size Chart</h1>

    <table id="size_chart" class="responsive">
      <thead>
        <tr class="">
          <th></th>
          <th>P</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="">Dress Size</td>
          <td data-label="P">0-2</td>
          <td data-label="S">4-6</td>
          <td data-label="M">8-10</td>
          <td data-label="L">12-14</td>
        </tr>
        <tr>
          <td data-label="">Bust</td>
          <td data-label="P">32</td>
          <td data-label="S">34</td>
          <td data-label="M">36</td>
          <td data-label="L">38</td>
        </tr>
        <tr>
          <td data-label="">Waist</td>
          <td data-label="P">25</td>
          <td data-label="S">27</td>
          <td data-label="M">29</td>
          <td data-label="L">31</td>
        </tr>
        <tr>
          <td data-label="">High Hip (4" below waist)</td>
          <td data-label="P">33</td>
          <td data-label="S">35</td>
          <td data-label="M">37</td>
          <td data-label="L">39</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>