<h1>Reset Password</h1>

{% form "reset_customer_password" %}
  <div class="form_errors">
    {{ form.errors | default_errors }}
  </div>

  <div class="form-row">
    <label>Password</label>
    <div class="shell">
    <input class="value" type="password" name="customer[password]"> 
    </div>
  </div>

  <div class="form-row">
    <label>Confirm Password</label>
    <div class="shell">
    <input class="value" type="password" name="customer[password_confirmation]">
    </div>
  </div>

  <button class="btn-form">Reset</button>
{% endform %}