<div class="image_page">

  <nav class="sub-nav">
    <ul>
      <li class=""><span><a class="scroll" href="#methods">Shipping Methods</a></span></li>
      <li class=""><span><a class="scroll" href="#rates">Shipping Rates</a></span></li>
      <li class=""><span><a class="scroll" href="#estimates">Shipping Estimates</a></span></li>
      <li class=""><span><a class="scroll" href="#international">International Shipping</a></span></li>
      <li class=""><span><a class="scroll" href="#duties">Custom Duties and Foreign Taxes</a></span></li>
      <li class=""><span><a class="scroll" href="#return">Return Policy</a></span></li>
    </ul>
  </nav>

  <div class="rte">
    <div class="content_inner">
      {{ page.content }}

    </div>
  </div>
</div>
